<!DOCTYPE html>
<html lang="Pt-Br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Clean Route - Eficiencia e Performance</title>
</head>
<body>
    <body class=" bg-black">
   

        <div id="app"></div>
    
   
        <div class="content_homepage text-white text-center ml-auto mr-auto w-[1403px] h-[610.3px] max-w-6xl ">
        <h1 class=" text-[3.75rem]">Com nossa plataforma de gerencimaneto de transportes altamente eficiente,você poderá otimizar suas operações,maximizar a produtividade e alcançar resultados excepcionais</h1>
        <h2 class=" text-[2rem]">Clean Route: Eficiência e Performance em movimento. Acelere o seu negócio com soluções inteligentes de gerenciamento de transportes</h2>
        <div class="hbtn ">
        <button class="btn btn-primary bg-blue-600  w-[410px] h-24 rounded-full  text-xl  m-[2rem]">Saiba mais </button> <button class="btn btn-primary bg-blue-600  w-[410px] h-24 rounded-full  text-xl  m-[2rem] ">Solicite uma demonstração </button>
        </div>   
        </div>
          
            
    
        
        <script type="module" src="/src/controller/main.js"></script>
    
      </body>
</body>
</html>