<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cadastro de veículo</title>
</head>
<body>
    <body class="  bg-gray-900">
        <div id="app"></div>
        <div id="app" class="flex justify-center items-center h-screen m-[-10rem]">
            <div id="form" class="p-4 bg-[#D9D9D9] bg-opacity-[60%] rounded-xl w-[687px] flex flex-col items-center">
                <form action="#">
                  <header class="text-[2rem] text-white text-center mb-16 mt-6">
                    <h2 class="shadow-sm">Cadastrar Veículo</h2>
                  </header>
                  <div class="input-group">
                    <div class="input-box mb-4">
                      <input id="placa" type="text" name="placa" placeholder="Placa" required class="input-style block w-full p-2 text-[#7E7676] bg-[#D9D9D9] border border-gray-300 rounded-[1.06rem] focus:ring focus:ring-blue-200 focus:outline-none shadow-md">
                    </div>
              
                    <div class="input-box mb-4">
                      <input id="modelo" type="text" name="modelo" placeholder="Modelo" required class="input-style block w-full p-2 text-[#7E7676] bg-[#D9D9D9] border border-gray-300 rounded-[1.06rem] focus:ring focus:ring-blue-200 focus:outline-none shadow-md">
                    </div>
              
                    <div class="input-box mb-4">
                      <input id="marca" type="text" name="marca" placeholder="Marca" required class="input-style block w-full p-2 text-[#7E7676] bg-[#D9D9D9] border border-gray-300 rounded-[1.06rem] focus:ring focus:ring-blue-200 focus:outline-none shadow-md">
                    </div>
              
                    <div class="input-box mb-4">
                      <input id="estado" type="text" name="estado" placeholder="Estado" required class="input-style block w-full p-2 text-[#7E7676] bg-[#D9D9D9] border border-gray-300 rounded-[1.06rem] focus:ring focus:ring-blue-200 focus:outline-none shadow-md">
                    </div>
              
                    <div class="input-box mb-4">
                      <input id="lugares" type="number" name="lugares" placeholder="Lugares" required class="input-style block w-full p-2 text-[#7E7676] bg-[#D9D9D9] border border-gray-300 rounded-[1.06rem] focus:ring focus:ring-blue-200 focus:outline-none shadow-md">
                    </div>
                  </div>
              
                  <div class="flex justify-between mt-6 gap-[33px]">
                    <button type="button" onclick="cancelar()" class="button-style-stop px-4 py-2 text-[32px] text-center bg-red-200 hover:bg-red-500 text-white rounded-[1.06rem] flex items-center transition-colors shadow-md">
                      <svg class="w-6 h-6 mr-2 transform transition-transform duration-500 hover:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                      </svg>
                      Cancelar
                    </button>
              
                    <button type="button" onclick="salvarDados()" class="button-style px-4 py-2 text-[32px] text-center bg-green-200 hover:bg-green-500 text-white rounded-[1.06rem] flex items-center transition-colors shadow-md">
                      <svg class="w-6 h-6 mr-2 transform transition-transform duration-500 hover:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h18v18H3zM5 5v9h14V5H5z"></path>
                        <path d="M5 12h14"></path>
                      </svg>
                      Salvar
                    </button>
                  </div>
                </form>
              </div>
              </div>
              
              <div class="table-container mt-40 mx-auto ml-20">
                <table id="routeTable" class="w-full">
                  <thead>
                    <tr class="text-white bg-gray-700">
                      <th class="py-2 px-4">ID</th>
                      <th class="py-2 px-4">Placa</th>
                      <th class="py-2 px-4">Modelo</th>
                      <th class="py-2 px-4">Marca</th>
                      <th class="py-2 px-4">Estado</th>
                      <th class="py-2 px-4">Lugares</th>
                      <th class="py-2 px-4">Editar</th>
                      <th class="py-2 px-4">Excluir</th>
                    </tr>
                  </thead>
              
                  <tbody class="">
                    <!-- As linhas da tabela aqui -->
                  </tbody>
              
                </table>
              </div>
              </div>
              
        
<script type="module" src="/src/controller/main.js"></script>
<script src="/src/controller/veiculo.js"></script>
    
   
</body>
</html>